<%= form_for :profile do |f| %>
  <%= label_tag "Landscape" %>
  <%= radio_button_tag :style, "Landscape" %>
  <%= label_tag "Portrait" %>
  <%= radio_button_tag :style, "Portrait" %>
  <%= label_tag "Nighttime" %>
  <%= radio_button_tag :style, "Nighttime" %>
  <%= label_tag "Sports and Family" %>
  <%= radio_button_tag :style, "Sports and Family" %>
  <%= label_tag "Street" %>
  <%= radio_button_tag :style, "Street" %>
  <%= label_tag "Travel" %>
  <%= radio_button_tag :style, "Travel" %>
  <%= f.submit "save shooting style" %>
<% end %>

<%= form_for :camera do |f| %>
  <%= label_tag "24MP" %>
  <%= radio_button_tag :res, "24MP" %>
  <%= label_tag "20MP" %>
  <%= radio_button_tag :res, "20MP" %>
  <%= label_tag "16MP" %>
  <%= radio_button_tag :res, "16MP" %>
  <%= f.submit "save resolution" %>
<% end %>

<br>
<br>


<div class="ui page grid">

<% @cameras.each do |camera| %>

      <!-- Start of card -->
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <%= image_tag(camera.product_photo, alt: "Placeholder camera") %>
        </div>
        <div class="content">
          <div class="meta"><%= camera.brand %></div>
          
          <%= link_to("#{camera.brand} #{camera.model}", camera_path(camera))%>
        </div>
        <div class="extra content">
          <div class="ui orange header">$<%= camera.price %></div>
          <p>Free Shipping</p>
        </div>
      </div>
    </div>

<% end %>

</div>