<div>
  <%= form_tag("/cameras", method: "get") do %>
    <div>
      <h3>What type of shooting will you be doing most?</h3>
      <%= collection_radio_buttons :profile, :style, Profile.all, :style, :style %>
    </div>

    <div>
      <h3>How important is the portability (size) of the camera?</h3>
      <%= radio_button_tag :portability, 1 %>
      <%= label_tag :portability_1, "Not Important" %>
      <%= radio_button_tag :portability, 2 %>
      <%= label_tag :portability_2, "Somewhat Important" %>
      <%= radio_button_tag :portability, 3 %>
      <%= label_tag :portability_3, "Very Important" %>
    </div>

    <div>
      <h3>What is your price range?</h3>
      <%= radio_button_tag :price, 600 %>
      <%= label_tag :price_600, "$0 - 600" %>
      <%= radio_button_tag :price, 1200 %>
      <%= label_tag :price_1200, "$601 - 1200" %>
      <%= radio_button_tag :price, 2100 %>
      <%= label_tag :price_2100, "$1201 - 2100" %>
    </div>

      <%= submit_tag "Search Cameras" %>
  <% end %>
</div>



<br>
<br>


<div class="ui page grid">

<% @cameras.each do |camera| %>

      <!-- Start of card -->
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <%= image_tag(camera.product_photo, alt: "Placeholder camera") %>
        </div>
        <div class="content">
          <div class="meta"><%= camera.brand %></div>
          
          <%= link_to("#{camera.brand} #{camera.model}", camera_path(camera))%>
        </div>
        <div class="extra content">
          <div class="ui orange header">$<%= camera.price %></div>
          <p>Free Shipping</p>
        </div>
      </div>
    </div>

<% end %>

</div>
