
<%= @camera.brand %><br>
<%= @camera.model %><br>
<%= @camera.price %><br>
<%= @camera.resolution %><br>
<%= @camera.zoom_range %><br>
<%= @camera.description %><br>

 <% @camera.reviews.each do |review| %>
    <div>
         <h3>Review #<%= @camera.reviews.index(review) + 1 %></h3>
         <p><strong>Rating:</strong> <%= review.rating %></p>
         <p><strong>The verdict:</strong> <%= review.description%></p>
         <%= link_to "Delete", camera_review_path(@camera,review), method: :delete, data: {confirm: "Really delete the review?"}%> 
            <%= link_to "Edit", edit_camera_path(@camera, @review) %>
     </div>
 <% end %>

<h2>Add a new review!</h2>
<%= form_for [@camera, @review] do |f| %> 
   
    <div>
        <%= f.label :description, "Review", class: "form-label" %> 
        <%= f.text_area :description, class: "text-area" %>
    </div>

    <div>
        <%= f.label :rating, class: "form-label" %> 
        <%= f.number_field :rating, class: "num-input" %>
    </div>

    <div>
        <%= f.submit "Add your review!", class: "button" %>
    </div>

<% end %>

 <% @camera.samples.each do |sample| %>
    <div>
         <h3>Photo Sample #<%= @camera.samples.index(sample) + 1 %></h3>
         <p><strong>Photo:</strong> <%= image_tag sample.photo_url(:thumb) %></p>
     </div>
 <% end %>

<h2>Add sample photos!</h2>
<%= form_for [@camera, @sample], html: {multipart: true} do |f| %> 
   
    <div>
        <%= f.label :photo, "Sample Photo", class: "form-label" %> 
        <%= f.file_field :photo, class: "text-area" %>
    </div>


    <div>
	    <%= f.label :remote_photo_url, "or image URL" %><br />
	    <%= f.text_field :remote_photo_url %>
    </div>



    <div>
        <%= f.submit "Add your photo!", class: "button" %>
    </div>

<% end %>